@import url('https://fonts.googleapis.com/css2?family=Lumanosimo&family=Roboto+Condensed:wght@300;400&family=Tektur:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lumanosimo&family=Noto+Serif&family=Roboto+Condensed:wght@300;400&family=Tektur:wght@400;500;600;700&display=swap');


*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    color: white;
    overflow-x: hidden;
    
}
.heading{
    font-family: 'Tektur', cursive;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: rgb(35, 35, 108);
}
nav ul{
    display: flex;
    justify-content: center;
}
nav ul li{
    list-style: none;
    margin: 0 23px;
}
nav ul li a{
    text-decoration: none;
    color: white;
}

.line-effect{
    cursor: pointer;

}
.line-effect::after{
    content: "";
    display: block;
    height: 3.5px;
    width: 100%;
    background-color: white;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .25s ease-out;
}
.line-effect:hover::after{
    transform: scaleX(1);
}
.left{
    font-size: 1.5rem;
}
.firstSection{
    display: flex;
    justify-content: space-around;
    margin: 80px 0;
    display: flex;
    align-items: center;
}
.firstSection > div{
    width: 40%;
}
.leftSection{
    width: 34px;
    font-size: 2.7rem;
    margin: 30px 0;
}
.rightSection{
    padding: 0;
}
.rightSection img{
    width: 100%;
}
.purple{
    color: rgb(191, 121, 251);
}
#element{
    color: rgb(191, 121, 251);
}
.secondSection{
    max-width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10rem;
    padding-top: 5rem;
}
.containerSecondPage{
    background-color: rgb(41, 39, 39);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;

}
.secondSectionHeading {
    text-decoration: underline;
    position: relative;
    top: 2rem;
    left: 51rem;
}
.education-details{
    position: absolute;
    width: 50%;
}
.vertical-line {
    position: absolute;
    background-color: white;
    height: 52rem;
    width: 1rem;
    top: 1rem;
    left: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.outer-circle{
    background-color: black;
    height: 1rem;
    width: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.inner-circle{
    background-color: white;
    height: .5rem;
    width: .5rem;
    border-radius: 1rem;
}
.x-class-details {
    position: absolute;
    top: 10.6rem;
    left: 7rem;
}
.xii-class-details {
    position: absolute;
    top: 20rem;
    left: 7rem;
}
.graduation {
    position: absolute;
    top: 31.6rem;
    left: 7rem;
}
.course {
    position: absolute;
    top: 42.6rem;
    left: 7rem;
}
.images{
    width: 58rem;
    position: absolute;
    right: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.image {
    height: 15rem;
    width: 26rem;
    flex-shrink: 1;
}




























